*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  margin: 3rem 0;
  font-size: 2.3rem;
}
.content {
  max-width: 500px;
  width: 90%;
  margin: auto;
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}

.content:hover::after {
  opacity: 1;
}

.content img {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content p {
  font-size: 1.9rem;
}

.img-content a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: 0.3s;
}

.img-content a:hover {
  color: rgb(95, 199, 95);
}

.content:hover .img-content {
  opacity: 1;
  left: 50%;
}

/* /////////// 2nd Effect /////////// */

.content-2 {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  position: relative;
}

.content-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}

.content-2:hover::after {
  opacity: 1;
}

.content-2 img {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-content-2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content-2 p {
  font-size: 1.9rem;
}

.img-content-2 a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: 0.3s;
}

.img-content-2 a:hover {
  color: rgb(95, 199, 95);
}

.content-2:hover .img-content-2 {
  opacity: 1;
  top: 50%;
}

/* ////........3rd Effect......./// */

.content-3 {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  position: relative;
}

.content-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}

.content-3:hover::after {
  opacity: 1;
}

.content-3 img {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-content-3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  z-index: 5;
  opacity: 0;
}

.img-content-3 p {
  font-size: 1.9rem;
}

.img-content-3 a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: 0.3s;
}

.img-content-3 a:hover {
  color: rgb(95, 199, 95);
}

.content-3:hover .img-content-3 {
  opacity: 1;
  top: 50%;
}

/* ///.........4th effect........./// */

.content-4 {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: relative;
}

.content-4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  z-index: 2;
  opacity: 0;
}

.content-4:hover::after {
  opacity: 1;
}

.content-4 img {
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-content-4 {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 100%;
  right: 0;
  color: #fff;
  z-index: 5;
  font-size: 2.2rem;
  width: 0;
  height: 100%;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
  transition: 0.6s ease;
}

.img-content-4 p {
  font-size: 1.9rem;
}

.img-content-4 a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: 0.3s;
}

.img-content-4 a:hover {
  color: rgb(95, 199, 95);
}

.content-4:hover .img-content-4 {
  width: 100%;
  left: 0%;
}

/* //......media query....../// */

@media (max-width: 650px) {
  html {
    font-size: 80%;
  }
}
