* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #ff4b4b, #d12280);
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedbackbox {
  background: #fff;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
  overflow: hidden;
}

.emoji img {
  width: 80px;
  margin: 0 10px;
}

#emoji {
  display: flex;
  align-items: center;
  transform: translateX(-400px);
  transition: 0.3s;
}

.rating .fas {
  font-size: 40px;
  color: #e4e4e4;
  cursor: pointer;
}

@media (max-width: 501px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }

  .rating .fas {
    font-size: 22px;
  }

  .feedbackbox {
    padding: 50px 70px;
  }
}
