@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(70, 70, 130);
    color: #fff;
    font-size: 18px;
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.modal_content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
    background: rgb(70, 70, 130);
    color: #fff;
    padding: 25px;
    border-radius: 30px;
}

.modal_content .modal_title h2 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.modal_content .close_btn p {
    text-align: right;
    cursor: pointer;
    font-size: 24px;
}

.modal_content .close_btn i {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
}